.temp__details {
  & .weather__condition {
    display: flex;
    justify-content: center;
  }
  & .weather__result {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .weather__humid {
      display: flex;
      flex-direction: column;
    }
  }
  & .weather__set {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .high__move {
    text-align: right;
  }
  & .low__move {
    text-align: right;
  }
  @media (max-width: 800px) {
    & .weather__set {
      & .degree {
        position: relative;
        left: 33px;
      }
    }
    & .high__move {
      text-align: left;
    }
    & .low__move {
      text-align: right;
      position: absolute;
      right: 55px;
    }
  }
}
