.forecast_hrly {
  & .timings {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .weather {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 667px) {
      & .forecast__img {
        width: 50px;
      }
    }
  }

  & .degree {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
