.forecast_hrly {
  & .timings {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .weather {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 900px) {
      & .forecast__img {
        width: 50px;
      }
    }
  }

  & .degree {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 31px;
    padding-right: 35px;
  }

  @media (max-width: 900px) {
    & .degree {
      padding-left: 17px;
      padding-right: 17px;
    }
  }
}
