.inputbox {
  & .innerbox {
    display: flex;
    justify-content: space-evenly;

    & .searchbox{
        border-radius: 0px;
        height: 46px;
        width: 240px;
    }

    & .icons_color {
      color: black;
      position: relative;
      left: 246px;
      top: -36px;
    }
  }
}
